@font-face {
    font-family: 'HEXCO';
    src: url('./assets/fonts/HEXCO.otf'); 
}

body {
    margin: 0px;
    background-color: #000;
}

.wrapper {
    position: relative;
    width: 100%;
}

.bg {
    width: 100%;
    height: auto;
}

.kfoo {
    height: 2.2%;
    width: 3%;
    border-radius: 50%;
    position: absolute;
    top: 15.7%;
    left: 22.1%;
    transform: translate(-50%, -50%);
}

.carbit, .ffleet {
    height: 2.9%;
    width: 4.7%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.carbit {
    top: 49.2%;
    left: 80.4%;
}

.ffleet {
    top: 83.7%;
    left: 51.5%;
}

.scroll-container {
    height: 2.5%;
    width: 20%;
    top: 92.5%;
    left: 29.7%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.scroll-text {
    font-family: 'HEXCO';
    font-size: 200%;
    line-height: 1;
    white-space: nowrap; 
    transform: translateX(100%);
    animation: scroll-anime 8s linear infinite;
}

@keyframes scroll-anime {
    from {
    transform: translateX(35%);
    }
    to {
    transform: translateX(-100%);
    }
}

@media screen and (max-width: 800px) {
    .scroll-text {
        font-size: 125%;
    }
  }