body {
    margin: 0px;
    background-color: #000;
}

.wrapper {
    display: flex;

}

.bg {
    width: 100%;
}


.kfoo {
    height: 5.1%;
    width: 2.8%;
    opacity: 50%;

    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left: 20.71%;
    top: 37.6%;
}